.wrapper {
  width: 100px;
  margin: auto;
  height: 290px;
  border: solid black 3px;
  background-color: rgb(135, 134, 134);
}
body {
  background-color: wheat;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  border: solid black 1px;
  background-color: black;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: orange;
}
.pannel {
  width: 20px;
  height: 300px;
  margin: auto;
  background-color: black;
}
